@model PageData
@{
    ViewData["Title"] = "Indexes2";
    Layout = "~/Views/Shared/_LayoutSchoolNew.cshtml";
}

<div class="row">
    @foreach (var item in Model.Indexes.Where(x => x.Level == 1))
    {
        <div class="col-3">
            <div class="card card-body" style="height:200px;">
                <span class="fa fa-server text-center mt-5" ></span>
                <h4 class="mt-5 mb-5 text-center" style="font-size: 1vw;">@item.NameUz</h4>
            </div>
        </div>
    }
</div>

