
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_LayoutSchool.cshtml";
}

<style>
    div.card:hover {
        color: #1e77bc;
        border: #1e77bc solid 1px;
        background: #fff;
    }
</style>

<div class="row">
    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Umumiy ma'lumotlar
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/TeachersInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Pedagog kadrlar to‘g‘risida
                    ma'lumotlar
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/PupilsInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    O‘quvchilar to‘g‘risida
                    ma'lumotlar
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Umumta’lim muassasasini boshqarish strategiyasi va moliyaviy
                    faoliyati
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Axborot–kommunikatsiya texnologiyalaridan foydalanish
                    ko`rsatkichlari
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Kutubxona faoliyati va kitobxonlik
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Tarbiyaviy ishlar
                    ko`rsatkichlari
                </h3>
            </div>
        </div>
    </div>

    <div class="col-3" style="cursor:pointer" onclick="window.location.href='/SchoolProfile/MainInfo'">
        <div class="card">
            <div class="card-body" style="display: table; text-align: center; height: 180px;">
                <h3 style="display: table-cell; vertical-align: middle; ">
                    Muassasaning bino va inshootlari hamda
                    infratuzilmasi
                </h3>
            </div>
        </div>
    </div>
</div>

