
@{
    ViewData["Title"] = "CreateDepartment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">HUDUD QO'SHISH</h4>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">YO'QORI TASHKILOT</label>
                                <select class="custom-select" name="ParentId" id="Regions" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                                <input type="text" class="form-control" name="NameUz" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                                <input type="text" class="form-control" name="NameUzk" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                                <input type="text" class="form-control" name="NameRu" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                                <input type="text" class="form-control" name="NameEn" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info pull-right">Saqlash</button>
                    <button type="button" class="btn btn-dark pull-right" onclick="window.location.href='/Admin/Departments/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $.getJSON("/GetApi/GetRegions/", function (result) {
        var $dropdown = $("#Regions");
        $dropdown.append($("<option />").val(null).text("Tanlang..."));
        $.each(result, function () {
            $dropdown.append($("<option />").val(this.id).text(this.nameUz));
        });
    });
</script>
