
@{
    ViewData["Title"] = "CreateRegion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">VILOYAT QO'SHISH</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12 mb-3 mt-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                                <input type="text" class="form-control" name="name_uz" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                                <input type="text" class="form-control" name="name_uzk" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                                <input type="text" class="form-control" name="name_ru" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                                <input type="text" class="form-control" name="name_en" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Saqlash</button>
                    <button type="button" class="btn btn-dark pull-right" onclick="window.location.href='/Admin/Regions/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
