
@{
    ViewData["Title"] = "CreateCriteria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">KRITERIYA QO'SHISH</h4>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">INDEKS</label>
                                <select class="custom-select" name="IndexId" id="Indexes" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                                <textarea class="form-control" name="NameUz" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                                <textarea class="form-control" name="NameUzk" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                                <textarea class="form-control" name="NameRu" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                                <textarea class="form-control" name="NameEn" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">TURI</label>
                                <select class="custom-select" name="Type" id="Types" required>
                                    <option value="@null">Tanlang</option>
                                    <option value="radio">radio</option>
                                    <option value="checkbox">checkbox</option>
                                    <option value="number">number</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">MAKSIMAL BALL</label>
                                <input type="number" min="0" class="form-control" name="MaxBall" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary ">Saqlash</button>
                    <button type="button" class="btn btn-secondary " onclick="window.location.href='/Admin/Criterias/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $.getJSON("/GetApi/GetIndexes/999", function (result) {
        var $dropdown = $("#Indexes");
        $dropdown.append($("<option />").val(null).text("Tanlang..."));
        $.each(result, function () {
            $dropdown.append($("<option />").val(this.id).text(this.shortName));
        });
    });
</script>


